.btn{
padding: 8px 24px;
color: white;
display: inline-block;
opacity: 0.8;
border-radius: 4px;
}

li {
    list-style: none;
   }
.list {
    color:darkslategray;
  }

.header {
    
    height:100px;
    
    background-image:url("yuki.jpg");
    background-size: 100%;
    /*
    background-image:url("yuki.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    */
    
}

.header-list li{
    float: left;
    padding: 33px;
    padding-left: 80px;
}



.header-logo {
    float: left;
    font-size: 40px;
    padding: 20px 40px;
}



.main {
    height:1000px;
    
}




.product{
    width:100%;
   
}

.dai {
    background-color:rgb(148, 177, 229);
    width:100%;
    height:100px;
    text-align:center;
    color:white;
    font-family:serif;
}
.dai h1{
    display: inline-block;
    text-align: center;
    padding-right: 100px;
}

.product-item {
     width:70%;
        display:flex;
        vertical-align:top; /*縦方向の揃え位置を指定*/
        background-color:beige;
        margin:30px;
       

}
.product-item h2{
    text-align:center;
    vertical-align: middle;
    font-family:serif;
}
.product-item p{
    text-align:center;
    font-family:serif;
    
    margin:0px 20px;
}
.name{
    padding-top:30px;
}

.pic {
    margin:30px;
}

.side{
    width:20%;
    height:auto;
    float:right;
    font-family:serif;
    
}

.footer1{
    height: 90px;
    padding-bottom:40px;
    
}

.footer2-list li{
    
    float:left;
    width: 200px;
    margin: auto;
    overflow: hidden;
}

.footer3 {
    height:90px;
    padding:40px;
    background-color:darkslategray;
    color: white;
}

.footer3-logo {
    float:left;
    font-size:32px;
}

.footer3-list {
    float:right;
    
}

.footer3-list li {
    padding-bottom:20px;
}
